Repository jszymanowski/exchange-house: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, mobile

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false # disable the default status
      backend:
        flags:
          - backend
        paths:
          - "backend/"
      frontend:
        flags:
          - frontend
        paths:
          - "frontend/"
      mobile:
        flags:
          - mobile
        paths:
          - "mobile/"

    patch:
      default:
        target: 80%

flags:
  backend:
    paths:
      - backend/
  frontend:
    paths:
      - frontend/
  mobile:
    paths:
      - mobile/

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default

force run
  .github/workflows/test-coverage-backend.yml
  .github/workflows/test-coverage-frontend.yml
  .github/workflows/test-coverage-mobile.yml
Due: none

fail ci
  .github/workflows/test-coverage-backend.yml
  .github/workflows/test-coverage-frontend.yml
  .github/workflows/test-coverage-mobile.yml
Due: none

specify token, generate xml
  .github/workflows/test-coverage-backend.yml
  .github/workflows/test-coverage-frontend.yml
  .github/workflows/test-coverage-mobile.yml
  backend/.gitignore
  backend/scripts/test.sh
Due: backend

cleanup
  .github/workflows/test-coverage-backend.yml
  .github/workflows/test-coverage-frontend.yml
  .github/workflows/test-coverage-mobile.yml
  README.md
Due: none

don't summarize
  .coderabbit.yaml
Due: none

Configure CodeCov for monorepo (#154)
  .github/workflows/backend-ci-lint.yml
  .github/workflows/test-coverage-backend.yml
  .github/workflows/test-coverage-frontend.yml
  .github/workflows/test-coverage-mobile.yml
  README.md
  backend/.gitignore
  backend/scripts/test.sh
  codecov.yml
Due: backend

fix currency subscription
  mobile/hooks/StorageProvider.tsx
Due: mobile

add tests
  mobile/tests/hooks/StorageProvider.test.tsx
Due: mobile

use biome on frontend
  frontend/biome.json
  frontend/eslint.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/ChangeCard.tsx
  frontend/src/components/CurrencyPairSelection.tsx
  frontend/src/components/Dashboard.tsx
  frontend/src/components/ExchangeRateHistory.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/PageLoader.tsx
  frontend/src/index.css
  frontend/src/integrations/exchangeHouseClient.ts
  frontend/src/lib/utils.ts
  frontend/src/services/exchangeRateService.ts
  frontend/src/types.ts
  frontend/tests/components/Dashboard.test.tsx
  frontend/tests/components/ExchangeRateHistory.test.tsx
  frontend/tests/services/exchangeRateService.test.ts
  frontend/tests/support/MockProvider.tsx
  frontend/tests/support/fixtures.ts
  frontend/tests/support/server.ts
  frontend/vite.config.ts
  mobile/package.json
Due: frontend, mobile

settings
  .vscode/settings.json
Due: none

re lock
  frontend/pnpm-lock.yaml
  mobile/pnpm-lock.yaml
Due: frontend, mobile

Use Biome in frontend (#157)
  .vscode/settings.json
  frontend/biome.json
  frontend/eslint.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/ChangeCard.tsx
  frontend/src/components/CurrencyPairSelection.tsx
  frontend/src/components/Dashboard.tsx
  frontend/src/components/ExchangeRateHistory.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/PageLoader.tsx
  frontend/src/index.css
  frontend/src/integrations/exchangeHouseClient.ts
  frontend/src/lib/utils.ts
  frontend/src/services/exchangeRateService.ts
  frontend/src/types.ts
  frontend/tests/components/Dashboard.test.tsx
  frontend/tests/components/ExchangeRateHistory.test.tsx
  frontend/tests/services/exchangeRateService.test.ts
  frontend/tests/support/MockProvider.tsx
  frontend/tests/support/fixtures.ts
  frontend/tests/support/server.ts
  frontend/vite.config.ts
  mobile/package.json
  mobile/pnpm-lock.yaml
Due: frontend, mobile

remove redundant upload
  .github/workflows/mobile-ci.yml
Due: none

update recommended
  mobile/app.json
  mobile/ios/Podfile.lock
  mobile/ios/exchangehouse.xcodeproj/project.pbxproj
  mobile/ios/exchangehouse.xcworkspace/contents.xcworkspacedata
  mobile/package.json
  mobile/pnpm-lock.yaml
Due: mobile

revert all changes to StorageProvider
  mobile/hooks/StorageProvider.tsx
  mobile/ios/Podfile.lock
  mobile/ios/exchangehouse.xcodeproj/project.pbxproj
  mobile/ios/exchangehouse.xcworkspace/contents.xcworkspacedata
Due: mobile

lint
  mobile/tests/hooks/StorageProvider.test.tsx
Due: mobile

lint again
  mobile/tests/hooks/StorageProvider.test.tsx
Due: mobile

Fix currency selection subscription (#156)
  mobile/hooks/StorageProvider.tsx
  mobile/tests/hooks/StorageProvider.test.tsx
Due: mobile

Update Expo to 5.0.20 (#166)
  mobile/app.json
  mobile/ios/Podfile.lock
  mobile/ios/exchangehouse.xcodeproj/project.pbxproj
  mobile/ios/exchangehouse.xcworkspace/contents.xcworkspacedata
  mobile/package.json
  mobile/pnpm-lock.yaml
Due: mobile

update icons
  mobile/assets/images/adaptive-icon.png
  mobile/assets/images/favicon.png
  mobile/assets/images/splash-icon.png
Due: mobile

rearrange assets
  mobile/assets/icon-2.afphoto
  mobile/assets/icon.afphoto
  mobile/assets/icon.psd
Due: mobile

ignores
  mobile/.gitignore
Due: mobile

update to 53
  mobile/.depcheckrc
  mobile/app.json
  mobile/package.json
  mobile/pnpm-lock.yaml
Due: mobile

Update to Expo SDK 53 (React 19, Native 0.79) (#168)
  mobile/.depcheckrc
  mobile/app.json
  mobile/package.json
  mobile/pnpm-lock.yaml
Due: mobile

Add workflow to lint
  .github/workflows/backend-lint.yml
  .github/workflows/backend-test.yml
  .github/workflows/firebase-lint.yml
  firebase/functions/eslint.config.js
Due: none

get linter running
  firebase/functions/.eslintrc.js
  firebase/functions/eslint.config.js
  firebase/functions/package.json
  firebase/functions/pnpm-lock.yaml
Due: none

fix linting; add prettier
  .pre-commit-config.yaml
  firebase/firebase.json
  firebase/functions/eslint.config.js
  firebase/functions/package.json
  firebase/functions/pnpm-lock.yaml
  firebase/functions/prettier.config.js
  firebase/functions/src/index.ts
  firebase/functions/src/types.ts
  firebase/functions/tsconfig.dev.json
  firebase/functions/tsconfig.json
Due: none

cleanup
  firebase/.vscode/settings.json
  firebase/firebase.json
Due: none

semi colons
  firebase/functions/eslint.config.js
  firebase/functions/prettier.config.js
  firebase/functions/src/index.ts
  firebase/functions/src/types.ts
Due: none

Run coverage everywhere on merge to main
  .github/workflows/test-coverage-backend.yml
  .github/workflows/test-coverage-frontend.yml
  .github/workflows/test-coverage-mobile.yml
Due: none

Run coverage everywhere on merge to main (#170)
  .github/workflows/test-coverage-backend.yml
  .github/workflows/test-coverage-frontend.yml
  .github/workflows/test-coverage-mobile.yml
Due: none

add lint:ci
  firebase/functions/package.json
Due: none

Fix linter in Firebase package (#169)
  .github/workflows/backend-lint.yml
  .github/workflows/backend-test.yml
  .github/workflows/firebase-lint.yml
  .pre-commit-config.yaml
  firebase/.vscode/settings.json
  firebase/firebase.json
  firebase/functions/.eslintrc.js
  firebase/functions/eslint.config.js
  firebase/functions/package.json
  firebase/functions/pnpm-lock.yaml
  firebase/functions/prettier.config.js
  firebase/functions/src/index.ts
  firebase/functions/tsconfig.dev.json
  firebase/functions/tsconfig.json
Due: none
